.Header a {
  font-size: 24px;
  margin: 10px;
  position: absolute;
  color: black;
  text-decoration: none;
}

.FacebookLogin {
  display: inline-block;
}

.FacebookLogin span button {
  position: absolute;
  right: 0;
  top: 0;
}